###1.Write a code to create a string with your name and print it.

In [1]:
my_name = "Manisha Bala"

In [2]:
print("My name is:",my_name)

My name is: Manisha Bala

###2. Write a code to find the length of the string "Hello World".

In [3]:
string = "Hello World"

In [4]:
length=len(string)

In [5]:
print("The length of the string is:",length)

The length of the string is: 11

###3. Write a code to slice the first 3 characters from the string "Python Programming".

In [6]:
my_string = "Python Programming"

In [7]:
sliced_string=my_string[:3]

In [8]:
print("The first 3 characters of the string is :",sliced_string)

The first 3 characters of the string is : Pyt

###4.Write a code to convert the string "hello" to uppercase.

In [9]:
text = "hello"

In [10]:
uppercase_text = text.upper()

In [11]:
print("The uppercase is :",uppercase_text)

The uppercase is : HELLO

###5. Write a code to replace the word "apple" with "orange" in the string " I like apple".

In [12]:
my_string = "I like apple"

In [13]:
new_string = my_string.replace("apple","orange")

In [14]:
print(new_string)

I like orange

###6.Write a code to create a list with numbers 1 to 5 and print it.

In [15]:
numbers = [1,2,3,4,5]

In [16]:
print(numbers)

[1, 2, 3, 4, 5]

###7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [17]:
numbers = [1, 2, 3, 4]

In [18]:
numbers.append(10)

In [19]:
print(numbers)

[1, 2, 3, 4, 10]

###8. Write a code to remove the number 3 from the list [1,2,3,4,5].

In [20]:
numbers = [1, 2, 3, 4, 5]

In [21]:
numbers.remove(3)

In [22]:
print(numbers)

[1, 2, 4, 5]

###9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [23]:
letters = ['a','b','c','d']

In [24]:
second_element = letters[1]

In [25]:
print(second_element)

b

###10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [26]:
numbers = [10,20,30,40,50]

In [27]:
reversed_list = list(reversed(numbers))

In [28]:
print(reversed_list)

[50, 40, 30, 20, 10]

###11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [29]:
tuple = (100,200,300)

In [30]:
print(tuple)

(100, 200, 300)

###12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [31]:
colors = ('red', 'green','blue','yellow')

In [32]:
second_last = colors[-2]

In [33]:
print(second_last)

blue

###13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [34]:
tuple = (10,20,5,15)

In [35]:
min(tuple)

5

###14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [36]:
tuple1 = ('dog','cat','rabbit')

In [37]:
tuple1.index("cat")

1

###15. . Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [38]:
tuple= ("apple","mango","kiwi")

In [39]:
if "kiwi" in tuple: #Check if "kiwi" is in the tuple
  print("kiwi is in the tuple.")
else:
  print("kiwi is not in the tuple.")

kiwi is in the tuple.

###16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [40]:
my_set = {'a', 'b', 'c'}

In [41]:
print(my_set)

{'a', 'c', 'b'}

###17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [42]:
my_set = {1,2,3,4}

In [43]:
my_set.clear()

In [44]:
print(my_set)

set()

###18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [45]:
my_set = {1,2,3,4}

In [46]:
my_set.remove(4)

In [47]:
my_set

{1, 2, 3}

###19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [48]:
set1 = {1,2,3}
set2 = {3,4,5}

In [49]:
set1 | set2

{1, 2, 3, 4, 5}

###20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [50]:
set1 = {1,2,3}
set2 = {2,3,4}

In [51]:
set1

{1, 2, 3}

In [52]:
set2

{2, 3, 4}

In [53]:
set1 & set2 #intersection of the sets

{2, 3}

###21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [54]:
d = {"name":"manisha","age":"21","city":"Ranchi"}

In [55]:
print(d)

{'name': 'manisha', 'age': '21', 'city': 'Ranchi'}

###22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [56]:
d = {'name':'john','age':'25'}

In [57]:
d['country'] = 'USA'  #add new key-value pair

In [58]:
print(d)

{'name': 'john', 'age': '25', 'country': 'USA'}

###23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [59]:
person = {'name': 'Alice', 'age': '30'}

In [60]:
person['name']

'Alice'

###24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [61]:
d = {'name':'Bob','age':22,'city':'New York'}

In [62]:
del d['age']

In [63]:
print(d)

{'name': 'Bob', 'city': 'New York'}

###25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [64]:
d = {'name': 'Alice', 'city': 'Paris'}
if 'city' in d:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist.")

The key 'city' exists in the dictionary.

###26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [65]:
list = [1,2,3,4]
tuple = ("sun","moon","star")
dict = {"name":"manisha","age": "21"}

In [66]:
print("list is:",list)
print("tupple is:",tuple)
print("dictionary is:",dict)

list is: [1, 2, 3, 4]
tupple is: ('sun', 'moon', 'star')
dictionary is: {'name': 'manisha', 'age': '21'}

###27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [67]:
import random

numbers = random.sample(range(1, 101), 5)

numbers.sort()

print("Sorted numbers (replaced):", numbers)

Sorted numbers (replaced): [2, 10, 56, 61, 89]

###28.  Write a code to create a list with strings and print the element at the third index.

In [68]:
items = ["shirt","shoes","pant","socks","saree"]

In [69]:
print("the element at the third index is:",items[3])

the element at the third index is: socks

###29. Write a code to combine two dictionaries into one and print the result.

In [70]:
d1 = {"name":"manisha","age":"21"}

In [71]:
d2 = {"city": "Ranchi", "hobby": "coding"}

In [72]:
d1.update(d2)

In [73]:
print("combined dictionaries:",d1)

combined dictionaries: {'name': 'manisha', 'age': '21', 'city': 'Ranchi', 'hobby': 'coding'}

###30. Write a code to convert a list of strings into a set.

In [74]:
fruits = ["apple", "banana", "cherry", "apple", "banana"]

In [75]:
fruit_set = set(fruits)

In [76]:
print("Set:", fruit_set)

Set: {'banana', 'apple', 'cherry'}